/* .path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 100;
  animation: dash 1.4s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: -4000;
  }
  to {
    stroke-dashoffset: 0;
  }
} */

.mySwiper .swiper-pagination-bullet-active {
  background: #f97316;
}

.mySwiper .swiper-button-prev {
  color: #f97316;
}

.mySwiper .swiper-button-prev:hover {
  color: #ea580c;
}

.mySwiper .swiper-button-next {
  color: #f97316;
}

.mySwiper .swiper-button-next:hover {
  color: #ea580c;
}
